{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#id_files').select2({
                width: '100%'
            });
            $('#id_category').select2({
                width: '100%'
            });
        });
    </script>
{% endblock %}

{% block body %}
<div class="row" id="alle">
    <div class="col-12 mt-3">
        <a class="btn btn-outline-secondary mb-3" href="{% url 'staff' %}" role="button">Zurück</a>
        <h1 class="display-6 fw-bold">Edit: {{ method.titel }} </h1>        
    </div>      

    <form action="{% url 'new_method' %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div class="mb-3 col-12 col-lg-8">
                {{ field.errors }}
                <div class="form-label">
                    {{ field.label_tag }}
                </div>
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </form>
</div>
{% endblock %}