{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}

{% endblock %}

{% block body %}
<div class="py-3 py-md-5">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fw-bold">{{ titel }} </h1>
        <p class="lead my-3"> {{ untertitel }} </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Alle Methoden</h3>
        <ul>
            {% for m in all_methods %}
                <li>{{ m.titel }} - <a href="{% url 'method_single_edit' m.id %}">Bearbeiten</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'new_method' %}" class="btn btn-primary">Neue Methode</a>
    </div>
    <div class="col-12 mt-3">
        <h3>Nutzer und Methoden</h3>
    </div>
    
    {% for user in users %}

    <div class="col-12 col-md-6 col-lg-5 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user.id }}: {{ user.first_name }} {{ user.last_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                
                {% if user.methods_liked.all %}
                    <ul class="list-group">
                        {% for m in user.methods_liked.all %}  
                        <li class="list-group-item">

                            {{ m.id }}: {{ m.titel }}
                            
                        </li>
                        {% endfor %}
                    </ul>     
                
                {% else %}
                    <p>Keine Methoden gefunden.</p>                        
                {% endif %}

            </div>
        </div>
    </div>

    {% endfor %}
    
</div>



{% endblock %}