{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
    <script src="{% static 'praxismethoden/categoryfilter.js' %}"></script>
    <script src="{% static 'praxismethoden/methodenansicht.js' %}"></script>

{% endblock %}

{% block body %}
<div class="row" id="alle">
    <div class="col-12 mt-3">
        <a class="btn btn-outline-secondary mb-3" href="{% url 'staff' %}" role="button">Zurück</a>
        <h1 class="display-6 fw-bold">Edit: {{ method.titel }} </h1>        
    </div>
    
    
    <form action="{% url 'method_single_edit' id %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div class="mb-3">
                {{ field.errors }}
                <div class="col-12 form-label">
                    {{ field.label_tag }}
                </div>
                <div class="col-12">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </form>
    <div class="col-12 pt-5">
        <h2>Dateien</h2>
    </div>
    <div class="col-12 col-lg-8">
        <form class="accordion" id="filesAccordion" action="{% url 'method_single_edit_file' id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ file_form.management_form }}
            {% for form in file_form %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="file-{{ form.id.value }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ form.id.value }}" aria-expanded="false" aria-controls="collapse{{ form.id.value }}">
                            {{ form.file_name.value|default:"Neue Datei" }}
                        </button>
                    </h2>
                    <div id="collapse{{ form.id.value }}" class="accordion-collapse collapse" aria-labelledby="file-{{ form.id.value }}" data-bs-parent="#filesAccordion">
                        <div class="accordion-body">
                            {% for field in form.visible_fields %}
                            <div class="d-flex flex-wrap w-100">
                                {{ field.errors }}
                                <div class="col-12 col-md-3 form-label">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col text-break">
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text|safe }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Änderungen speichern</button>
        </form>
    </div>
    
</div>


{% endblock %}