{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block body %}

<div class="row">
    <div class="mt-3 my-sm-5 p-4 p-md-5">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Kurs Administration</h1>
          <p class="lead my-3"> {{ untertitel }} </p>
        </div>
    </div>

    {% for user in users %}
    
        <div class="col-12 col-md-6 col-lg-5 mb-3">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title">{{ user.id }}: {{ user.first_name }} {{ user.last_name }}</h5>
                    
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>

                    {% if user.methods_liked.all %}
                    
                        <ul class="list-group">
                    
                            {% for m in user.methods_liked.all %}
                            
                            <li class="list-group-item">

                                {{ m.id }}: {{ m.titel }}
                                
                            </li>

                            {% endfor %}

                        </ul>     
                    
                    {% else %}
                        
                        <p>Keine Methoden gefunden.</p>
                    
                    {% endif %}
                </div>

            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
{% endblock %}