{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block body %}

<div class="row">
    {% if message %}
        <div class="alert alert-{{ message_type }}" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="col-12">
        <div class="row">
            <div class="col-12 text-center">
                <div class="col-12">
                    <img class="img-fluid" style="height: 150px;" src="{% static 'img/HSG-Maskottchen.png' %}" alt="">
                </div>
                <h1 class="pt-1 display-2">St. Galler Praxisprojektbox</h1>
                <hr class="m-4">
                
            </div>
            <div class="col-12">
                <p class="lead">Die St. Galler Praxisprojekt Box ist eine Methodik, die Studierende dabei unterstützt, im Team reale Probleme von Unternehmen zu lösen.</p>
                <div class="alert alert-primary" role="alert">
                    Hinweis: Diese Website ist derzeit noch im Aufbau. Hast du Ideen, Fragen oder Anregungen, dann <a href="mailto:silvan.stoeckli@student.unisg.ch">schreib mir eine Mail</a>. 
                </div>
                <h3>Anleitung</h3>
                <p>Auf dieser Seite findest du alle Methoden der St. Galler Praxisprojektbox. </p>
                <p>Wenn du <a href="{% url 'login' %}">eingeloggt</a> bist, hast du zudem die Möglichkeit, diejenigen Methoden, welche dir am wichtigsten erscheinen als Favoriten zu markieren.</p>
                <p>Dazu musst du nur auf die Methode klicken und dann auf den "Zu Favoriten hinzufügen" Button klicken.
                    Sobald do eine Methode als Favorit hinzugefügt hast, erkennst du deine Favoriten in der <a href="{% url 'alle' %}">Methodenübersicht</a>,
                    an dem ausgefüllten Herz oben rechts.
                </p>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
{% endblock %}