{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block body %}

<div class="row">
    {% if message %}
        <div class="alert alert-{{ message_type }}" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="col-12">
        <div class="row">
            <div class="col-12 text-center">
                <div class="col-12">
                    <img class="img-fluid" style="height: 150px;" src="{% static 'img/HSG-Maskottchen.png' %}" alt="">
                </div>
                <h1 class="pt-1">Die St. Galler Praxisprojektbox</h1>
                <p>Herzlich Willkommen</p>
                <hr>
            </div>
            <div class="col-12">
                <p>Hier einige Informationen zu SGPB:</p>
            </div>
            <div class="col-12">
                <h4>Woche 1</h4>
                <p class="fw-bold">Aufgaben:</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Rollen innerhalb des Teams definieren
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Eine "Spokesperson" definieren für Kommunikation mit dem Auftraggeber und Coach
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Termine anhand der Meilensteintreffen mit Auftraggeber & Coaches vereinbaren
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ordnerstruktur auf OneDrive anlegen (z.B. nach der Struktur der Meilensteintreffen)
                    </label>
                </div>
                <p class="fw-bold">Tipps:</p>
                <p>
                    Trello ist ein gutes Tool für das Projektmanagement. Probiert es doch mal aus.
                </p>
                <p class="fw-bold">Unterlagen:</p>
                <ul>
                    <li><a href="/">Selbststudium Projektmanagement</a></li>
                    <li><a href="/">Projektmanagement: Zeiterfassung XLS</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
{% endblock %}