{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block body %}

<div class="row" id="meine">
    {% for card in cards %}
    <div class="col-12 col-md-6">
        <div class="card shadow-sm my-3">
            <div class="card-body">
                <h5>{{ card.titel }}</h5>
                <p>{{ card.desc }}</p>
                <a type="button" class="text-decoration-none" data-toggle="modal" data-target="#exampleModal">
                    Erfahre mehr
                </a>
                <div>
                    {% autoescape off %}
                    {{ card.content }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="card-footer">
                <span class="badge badge-pill badge-info">
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
{% endblock %}