{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
    <script src="{% static 'praxismethoden/categoryfilter.js' %}"></script>
    <script src="{% static 'praxismethoden/methodenansicht.js' %}"></script>
{% endblock %}

{% block body %}
<div class="mt-3 my-sm-5 py-4 py-md-5">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fw-bold">{{ titel }} </h1>
      <p class="lead my-3"> {{ untertitel }} </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn btn-sm btn-light m-1 border category-btn" data-cat-id="0">
            Alle Methoden
        </div>
        {% for c in categories.all %}
            <div class="btn btn-sm btn-light m-1 border category-btn" data-cat-id="{{ c.id }}">
                {{ c.name }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="row" id="alle" data-masonry='{"percentPosition": true }'>
    {% for card in cards %}
    <div class="col-12 col-md-6 col-lg-4 method-modal" id="{{ card.id }}">
        <div class="card position-relative border-0 transition method-card shadow my-3">
            {% comment "Optional Single Page Mod" %}
                <a class="stretched-link" href=" {% url 'method_single' card.id %}"></a>
            {% endcomment %}
            <span class="material-icons bg-white like-display">
                {% if user in card.likes.all %} favorite
                {% else %} favorite_border {% endif %}
            </span> 
            <div class="card-body">
                <h5>{{ card.titel }}</h5>
                <div class="line-clamp-4">
                    {% autoescape off %}
                    {{ card.desc }}
                    {% endautoescape %}
                </div>
                <a type="button" class="btn btn-sm my-2 btn-outline-primary text-decoration-none" data-toggle="modal" data-target="#exampleModal">
                    Erfahre mehr
                </a>
                <div>
                    {% for cat in card.category.all %}
                        <span data-category=" {{ cat.id }}" id="category-badge" class="badge rounded-pill badge-info text-wrap mt-1" style="background: #2b8b395e">
                    {{ cat.name }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="methodModal" tabindex="-1" aria-labelledby="methodModal" aria-hidden="true">
    
</div>

{% endblock %}