{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
    <script src="{% static 'praxismethoden/methodenansicht.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row" id="alle">
    {% for card in cards %}
    <div class="col-12 col-md-6 col-lg-4 method-modal" id="{{ card.id }}">
        <div class="card border-0 transition method-card shadow-sm my-3">
            <div class="card-body">
                <h5>{{ card.titel }}</h5>
                <div class="line-clamp-4">
                    {% autoescape off %}
                    {{ card.desc }}
                    {% endautoescape %}
                </div>
                <a type="button" class="text-decoration-none" data-toggle="modal" data-target="#exampleModal">
                    Erfahre mehr
                </a>
            </div>
            <div class="card-body">
                {% for cat in card.category.all %}
                <span class="badge rounded-pill badge-info" style="background: #2b8b39b3">
                    {{ cat.name }}
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="methodModal" tabindex="-1" aria-labelledby="methodModal" aria-hidden="true">
    
</div>

{% endblock %}