{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
    <script src="{% static 'praxismethoden/categoryfilter.js' %}"></script>
    <script src="{% static 'praxismethoden/methodenansicht.js' %}"></script>

{% endblock %}

{% block body %}
<div class="row" id="alle">
    <div class="col-12 mt-3">
        <h1 class="display-4 fst-italic">{{ method.titel }} </h1>        
    </div>
    
    
    <form action="{% url 'method_single_edit' id %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div class="mb-3">
                {{ field.errors }}
                <div class="col-12 form-label">
                    {{ field.label_tag }}
                </div>
                <div class="col-12">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </form>
    <div class="col-12">
        <h2>Dateien</h2>
    </div>
    <form class="d-flex flex-wrap" action="{% url 'method_single_edit_file' id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for form in file_form %}
        {{ file_form.management_form }}
            {% for field in form %}
                <div class="d-flex w-100">
                    {{ field.errors }}
                    <div class="col form-label">
                        {{ field.label_tag }}
                    </div>
                    <div class="col">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </form>
</div>


{% endblock %}