{% extends "praxismethoden/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'praxismethoden/script.js' %}"></script>
    <script src="{% static 'praxismethoden/categoryfilter.js' %}"></script>
    <script src="{% static 'praxismethoden/methodenansicht.js' %}"></script>

{% endblock %}

{% block body %}
<div class="row" id="alle">
    <div class="col-12">
        <h1 class="p-4 display-4 fst-italic">{{ method.titel }} </h1>        
    </div>
    <div class="col-12">
        <span class="material-icons like-display">
            {% if user in method.likes.all %} favorite
            {% else %} favorite_border {% endif %}
        </span> 
    </div>
    <div class="col-12">
        {% autoescape off %}
        {{ method.content }}
        {% endautoescape %}
    </div>
    {% if files %}
    <div class="col-12 py-3">
        <h5>Weitere Unterlagen zu diesem Thema: </h5>
        {% for f in files %}
            <a target="_blank" class="text-decoration-none" href=" {{ f.file.url }} ">{{ f.file_name }}</a><br>
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-12">
        {% for cat in method.category.all %}
            <span data-category=" {{ cat.id }}" id="category-badge" class="badge rounded-pill badge-info text-wrap" style="background: #2b8b395e">
        {{ cat.name }}
            </span>
        {% endfor %}
    </div>
    <div class="col-12 py-5">
        <a class="btn btn btn-outline-primary" href="{% url 'method_single_edit' method.id %}" role="button">Bearbeiten</a>
    </div>
</div>


{% endblock %}