{% extends "praxismethoden/layout.html" %}
{% block script %}
{% endblock %}

{% block body %}

<div class="py-3 py-md-5">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fw-bold">Timeline</h1>
        <p class="lead my-3">Die Timeline des Projektes.</p>
    </div>
</div>
<div class="row">
    <div class="col-12 gy-3 mb-3 position-relative w-100" style="padding-top: 70%;">
        <iframe class="responsive-iframe"  data-original-width="3992" data-original-height="2621" src="https://www.thinglink.com/card/1547906027091918849" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no">
        </iframe>
    </div>
</div>

{% endblock %}
