
/* delete ugly bootstrap focus effects */
.btn-close,
.btn {
    box-shadow: none!important;
}
.h-sm-100 {
    height: fit-content;
}
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100vh;
    }
}
.img-sidebar {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
}
/* Methodenansicht */
.like-display {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.method-card{
    cursor: pointer;
}
.method-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25)!important;
}
.transition {
    transition: all 0.5s;
}
.cat-overflow {
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.cat-overflow::-webkit-scrollbar {
    display: none;
}



.offcanvas-override {
    width: 250px;
}
nav.navbar .nav-link {
    font-weight: bold;
}
